/* @font-face {
  font-family: 'Segoe UI';
  src: url('../Fonts/Segoe\ UI.eot');
  src: url('../Fonts/Segoe\ UI.eot?#iefix') format('embedded-opentype'),
  url('../Fonts/Segoe\ UI.woff') format('woff'),
  url('../Fonts/Segoe\ UI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('../Fonts/Segoe\ UI\ Bold.eot');
  src: url('../Fonts/Segoe\ UI\ Bold.eot?#iefix') format('embedded-opentype'),
  url('../Fonts/Segoe\ UI\ Bold.woff UI.woff') format('woff'),
  url('../Fonts/Segoe\ UI\ Bold.ttf UI.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

p {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1400px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.app {
  display: flex;
  overflow: hidden;
}

button {
  cursor: pointer;
  display: block;
}

img {
  display: block;
}

